<form method="post">

    <input type="text" name="Type" placeholder="Input Type"><p></p>
    <input type="text" name="Name" placeholder="Input Name"><p></p>
    <input type="text" name="Description" placeholder="Input Description"><p></p>
    <input type="number" name="Price" placeholder="Input Price"><p></p>
    <input type="number" name="Count" placeholder="Input Count"><p></p>
    <button type="submit" >Create</button>
</form>
